<div class="card mb-3" *ngIf="profileData">
  <div class="card-body">
    <ng-container *ngFor="let item of getDataKeys()">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">{{ item }}</h6>
        </div>
        <div
          class="col-sm-9 text-secondary"
          *ngIf="!isDate(item); else dateItem"
        >
          {{ getRecords()[item] }}
        </div>
        <ng-template #dateItem>
          {{ convertDate(getRecords()[item]) | date }}
        </ng-template>
      </div>
      <hr />
    </ng-container>
  </div>
</div>
