//login page colors
$background_color: #fff;
$border_color: rgba(0, 0, 0, 0.1);

//profile page colors
$profile_border_color: rgba(0, 0, 0, 0.125);
$profile_background_color: #e2e8f0;
$box_shadow_primary: rgba(0, 0, 0, 0.1);
$box_shadow_secondary: rgba(0, 0, 0, 0.06);
